* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  overflow: hidden;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contenedor > article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.item1,
.item2,
.item5,
.item6 {
  width: 50%;
  height: 25%;
}

.item1,
.item2 {
  background-color: #d8ebd2;
}

.item3,
.item4 {
  background-color: #fff4ce;
}

.item3,
.item4 {
  width: 50%;
  height: 50%;
}

.item5 {
  background-color: #fbd3d6;
}

.item6 {
  background-color: #d0e1fd;
}

@media screen and (max-width: 768px) {
  .contenedor > article {
    height: 20%;
  }

  .item6 {
    order: 1;
    width: 100%;
    background-color: #fbd3d6;
  }
  .item5 {
    order: 2;
    width: 100%;
    background-color: #d0e1fd;
  }
  .item3 {
    order: 3;
    width: 50%;
    background-color: #fff4ce;
  }
  .item4 {
    order: 4;
    width: 50%;
    background-color: #fff4ce;
  }
  .item2 {
    order: 5;
    width: 100%;
    background-color: #d8ebd2;
  }
  .item1 {
    order: 6;
    width: 100%;
    background-color: #d8ebd2;
  }
}
