* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 80%;
  min-height: 100%;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  margin: 0 10%;
  padding: 1rem;
  background-color: #e4e3e3;
}

section {
  padding: 2rem 0;
}

#datos-personales {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.foto {
  width: 8rem;
  height: 8rem;

  background-color: #bdbdbd;

  border: 0.1rem solid #555;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
}

ul {
  margin: 0;
}

li {
  margin: 1rem;
}

.list-estudios {
  text-decoration: underline;
}
